.hidden {
    display: none;
}

body {
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    position: relative; 
    height: 100vh; 
    margin: 0; 
}

#memo-section,
#todo-section,
#timer-section {
    flex: 1; 
    min-width: 300px; 
    margin: 10px; 
}